<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title >Login</title>
    <link rel="stylesheet" href="css/register/login.css">
</head>
<body>

    <div class="container">
        <h2 class="title-login">Login</h2>
        <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
        <form id="formLogin" method="post" action="/authLogin">
            <input type="email" id="emailLogin" placeholder="E-mail" name="email" required>
            <input type="password" id="senhaLogin" placeholder="Senha" name="password" required>
            <button type="submit">Entrar</button>
        </form>
        <div class="switch-form">
            Não tem uma conta? <a href="/register">Cadastre-se</a>
        </div>
    </div>

    <script>
        // Função para mostrar a mensagem de erro
        function showError(message) {
            const errorMessage = document.getElementById('errorMessage');
            errorMessage.style.display = 'block';
            errorMessage.textContent = message;
            errorMessage.style.color = "red"
        }

        // Checar se há uma mensagem de erro na URL
        const params = new URLSearchParams(window.location.search);
        const error = params.get('error');
        if (error) {
            showError(error);
        }
    </script>
</body>
</html>
