<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title >Login</title>
    <link rel="stylesheet" href="css/register/login.css">
</head>
<body>

    <div class="container">
        <h2 class="title-login">Login</h2>
        <form id="formLogin">
            <input type="email" id="emailLogin" placeholder="E-mail" required>
            <input type="password" id="senhaLogin" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <div class="switch-form">
            Não tem uma conta? <a href="/register">Cadastre-se</a>
        </div>
    </div>

    <script src="js/register/login.js"></script>
</body>
</html>
