<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/register/register.css">
</head>
<body>

    <div class="container">
        <h2 class="title-cadastro">Cadastro</h2>
        <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
        <form id="formCadastro" method="post" action="/users">
            <input type="text" id="nome" placeholder="Nome" name="name"  required>
            <input type="date" id="dataNascimento" name="dateOfBirth"  required>
            <input type="text" id="cpf" placeholder="CPF" name="cpf"  required>
            <input type="email" id="emailCadastro" name="email"  placeholder="E-mail" required>
            <input type="password" id="senhaCadastro" name="password"  placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <div class="switch-form">
            Já tem uma conta? <a href="/login">Faça login</a>
        </div>
    </div>

    <script>
        // Função para mostrar a mensagem de erro
        function showError(message) {
            const errorMessage = document.getElementById('errorMessage');
            errorMessage.style.display = 'block';
            errorMessage.textContent = message;
            errorMessage.style.color = "red"
        }

        // Checar se há uma mensagem de erro na URL
        const params = new URLSearchParams(window.location.search);
        const error = params.get('error');
        if (error) {
            showError(error);
        }
    </script>
</body>
</html>
