<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/register/register.css">
</head>
<body>

    <div class="container">
        <h2 class="title-cadastro">Cadastro</h2>
        <form id="formCadastro">
            <input type="text" id="nome" placeholder="Nome" required>
            <input type="date" id="dataNascimento" required>
            <input type="text" id="cpf" placeholder="CPF" required>
            <input type="email" id="emailCadastro" placeholder="E-mail" required>
            <input type="password" id="senhaCadastro" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <div class="switch-form">
            Já tem uma conta? <a href="/login">Faça login</a>
        </div>
    </div>

    <script src="js/register/register.js"></script>
</body>
</html>
