.popup-link {
  text-decoration: none;
  color: #fff;
}

.popup-main-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(139, 178, 237);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner-container-paragraph {
  padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.popup-section-container {
  background-color: #ffffff;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-button-asign {
  background-color: rgb(113, 158, 225);
  width: 150px;
  height: 45px;
  border: none;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  transition: background-color 0.8s ease;
}

.popup-button-asign:hover {
  background-color: #b4cff0;
  transform: scale(1.1);
}

.popup-inner-container {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.popup-img-badsmile {
  width: 80px;
  height: 80px;
}

.popup-inner-container span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  left: 100;
  margin-right: 5px;
}
