<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - App finanças</title>
    <link rel="stylesheet" href="css/home/style.css">
    <style>
        #buttons{
            
        }
    </style>
</head>
<body>
    <div class="welcome-container">
        <div class="image-container">
            <img src="img/financa.jpeg" alt="Imagem ilustrativa contábil">
        </div>
        <div class="text-container">
            <div class="welcome-message">
                <h1>Seja bem-vindo!</h1>
                <p>Gerencie suas finanças de forma simples e eficiente. <br> Planeje seu orçamento, acompanhe sua receita e suas despesas e conquiste objetivos financeiros.</p>
            </div>
            <div id="buttons" class="cta">
                <a href="./lancamento.html" class="btn">Clique para iniciar</a>
                <a href="./transacoes.html" class="btn"><strog>Histórico de Lançamento</strog></a>
            </div>
        </div>
    </div>
    
