
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
    background-color: #292929;
    background-size: cover; /* Faz a imagem cobrir toda a área do body */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100vh;           /* Define altura total da tela */
    margin: 1;               /* Remove margens da página */
}

.title-login {
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 40px;
}
.container {
    background-color: #fff;
    padding: 100px;           /* Menos padding para um design mais compacto */
    border-radius: 30px;     /* Borda arredondada */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;        /* Define a largura máxima da caixa */
    text-align: center;
    border-left: 5%;
    border-right: 5%;
}

h2 {
    margin-bottom: 15px;
}

input {
    font-family: "Roboto", serif;
    font-weight: 400;
    width: 100%;                  /* Garante que os inputs ocupem 100% da largura disponível */
    padding: 12px;                /* Ajuste no padding para um espaçamento interno consistente */
    margin: 15px 0;                /* Margem uniforme em cima e embaixo */
    border: 1px solid #ccc;      /* Borda padrão */
    border-radius: 30px;          /* Bordas arredondadas */
    box-sizing: border-box;      /* Inclui padding e borda no cálculo da largura total */
}

button {
    font-family: "Roboto", serif;
    font-weight: 400;
    width: 35%;
    padding: 10px;
    background-color: #292929;
    margin-top: 15px;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;
}

button:hover {
    background-color: #FFFFFF; /* Cor de fundo quando passar o mouse */
    color: #292929; /* Cor do texto quando passar o mouse */
    border: 2px solid #292929; /* Borda preta quando passar o mouse */
}

.switch-form {
    margin-top: 20px;
}

.switch-form a {
    color: #0011ff;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

#error-message {
    color: red;
}